@model Gummi.Models.Product

@{
    ViewData["Title"] = "Gummi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Gummi- Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    <div class="details">
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @Html.DisplayNameFor(model => model.Origin): @Html.DisplayFor(model => model.Origin)
    @Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost)
        </div>
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>